<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-img class="header-logo" src="/assets/light-logo.svg"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding top-hero">
      <h2>
        Bom dia, <b>Erick Almeida</b>!
      </h2>
      <p>Hoje, <strong>quarta-feira, 14 de agosto</strong>, o RU está disponível para <strong>desjejum, almoço e jantar</strong> e está <strong>aberto agora</strong> até às 14h00.</p>
  
      <ion-chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Aberto agora</ion-label>
      </ion-chip>

  </div>

  <ion-item>
    <ion-label>Status atual</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Selecione um">
      <ion-select-option value="not">🔴 Não irei</ion-select-option>
      <ion-select-option value="maybe">🟡 Talvez irei</ion-select-option>
      <ion-select-option value="will">🟢 Irei</ion-select-option>
      <ion-select-option value="queue">🙄 Na fila</ion-select-option>
      <ion-select-option value="inside">🍽 Estou</ion-select-option>
      <ion-select-option value="went">✅ Já fui</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hoje no RU</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <ion-button color="danger" (click)="test()">Danger</ion-button>
    </ion-card-content>
  </ion-card>

  <div>
    <h1>neighborRUd</h1>
    Sicranésio
    Milanésio
  </div>

  Feito com ❤ por <a href="https://riso.dev">Erick Almeida</a>.

</ion-content>
